@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

* {
    padding: 0;
    margin:0;
}
body {
    font-family: 'Yatra One', cursive;
    /* font-family: 'BioRhyme', serif; */
    background-color: rgb(207, 167, 117);
    overflow-x: hidden;
}

.container {
    margin:2rem;
    
}

.header {
    display: flex;
    justify-content: center;
    font-size: 4rem;
   
}

.welcome-img {
    max-width: 15rem;
   
}

.football-O {
    width: 5rem;
}

.secondary-header {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}


.about-translator {
    margin: 2em;
    padding: 2em;
   
}
.about-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;

}

.hr {
    border-top: 3px solid sandybrown;
    color:sandybrown;
}

.about-content {
    padding: 1rem 5rem;
    font-size: 1.5rem;
}

.input-header,.output-header {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.input-text,.output-text {
    display: flex;
    justify-content: center;
}

.txt {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 60%;
   font-size: 2rem;
}
.txt:focus  {
    background-color: sandybrown;
    border-radius: 1rem;
    
}
.txt::placeholder {
    font-family: 'Yatra One', cursive;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}
.translate-btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color:black;
    border-radius: 1rem;
    cursor: pointer;
    font-family: 'Yatra One', cursive;
    color: whitesmoke;
}

.sweg {
    display: inline;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.sweg-image {
    max-width: 5rem;
    
}

.footer {
    width: 100%;
    background-color: sandybrown;
    padding:1rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-line {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons ul {
    display: flex;
    flex-direction: row;
}
.social-icons ul li {
    list-style: none;
    padding: 0rem 2rem;
   
}

.social-icons ul li i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.small {
   
    font-size: larger;
}

@media only screen and (max-width:540px) {
    html {
        font-size:50.5%;
    }

    .header {
        flex-wrap: wrap;
    }

    .about-translator {
        padding: 1em;
        margin: 0em;
    }
    .about-content {
        font-size: 2rem;
        padding: 1rem;
    }
    
   
}